/** Base Styles */
:root {
    /**
     * Colors
     * --------------------------------------------------------------------- */

    --theme: #009EFF;
    --theme-light: #009EFF;
    --theme-dark: #009EFF;
    --color-primary: var(--theme-light);
    --header-light: #fff;

    /**
     * Text
     */
    --text-color: #303133;

    /**
     * Z Indexes
     *
     * Algolia SearchBox has a z-index of 200, so make sure not to go above
     * that value.
     * --------------------------------------------------------------------- */

    --z-index-navbar: 10;
    --z-index-sidebar: 6;

    /**
     * Shadows
     * --------------------------------------------------------------------- */

    --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
    --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
    --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
    --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
    --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);

    /**
     * BackGround
     */
    --bg-color: #ffffff;

    /**
    * Border
    */
    --border-color: #ebebeb;

    /**
     * Font
     */
    --font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

// 黑色主题配置
.dark {
    /**
     * BackGround
     */
    --bg-color: #141414;

    /**
     * Text
     */
    --text-color: #e5eaf3;

    /**
    * Border
    */
    --border-color: #4c4d4f;
}
